.skills-container {
    padding: 40px;
    text-align: center;
    color: #fff;
    max-width: 1000px;
    margin: auto;
}

.skills-title {
    font-size: 2.5rem;
    color: #e50914;
    /* Netflix red */
    margin-bottom: 30px;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.skill-card {
    background-color: #1e1e1e;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    color: #e6e6e6;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.skill-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(255, 0, 0, 0.5);
    /* Netflix red glow on hover */
    cursor: pointer;
}

.icon {
    font-size: 2rem;
    color: #e50914;
    /* Netflix red */
    margin-bottom: 10px;
}

.skill-name {
    font-size: 1rem;
    line-height: 1.4;
    margin: 10px 0;
}

.skill-description {
    font-size: 0.9rem;
    color: #999;
}


.skills-title {
    font-size: 2.5rem;
    color: #da8185;
    /* Netflix red */
    margin-bottom: 30px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeSlideIn 1s ease forwards;
}

/* Category Animation */
.category-title {
    font-size: 1.8rem;
    color: #e6e6e6;
    margin: 30px 0 20px;
    border-bottom: 2px solid #e50914;
    padding-bottom: 5px;
    display: inline-block;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeSlideIn 0.8s ease forwards;
}

.skill-category:nth-child(1) .category-title {
    animation-delay: 0.1s;
}

.skill-category:nth-child(2) .category-title {
    animation-delay: 0.2s;
}

.skill-category:nth-child(3) .category-title {
    animation-delay: 0.3s;
}

.skill-category:nth-child(4) .category-title {
    animation-delay: 0.4s;
}

.skill-category:nth-child(5) .category-title {
    animation-delay: 0.5s;
}

.skill-category:nth-child(6) .category-title {
    animation-delay: 0.6s;
}

.skill-category:nth-child(7) .category-title {
    animation-delay: 0.7s;
}

.skill-category:nth-child(8) .category-title {
    animation-delay: 0.8s;
}

.skill-category:nth-child(9) .category-title {
    animation-delay: 0.9s;
}

.skill-category:nth-child(10) .category-title {
    animation-delay: 1s;
}

/* Keyframe for Slide and Fade-in Animation */
@keyframes fadeSlideIn {
    to {
        opacity: 1;
        transform: translateY(10);
    }
}